.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.element {
  flex: 0 0 auto;
  margin: 5px;
}
.container{
  margin: 50px;
}

.width {
  width: 100%;
}

@media (min-width: 768px) {
  .width {
    width: 33%;
  }
}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
